<div class=" container password">
  <h2>¿Olvidaste tu contraseña?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"imput", placeholder:"Email" %>
    </div>

    <div class="actions d-flex justify-content-md-center">
      <%= f.submit "Enviar", class:"btn btn-password"%>
    </div>
  <% end %>

</div>
