<footer class="bg-warning text-white">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h5 class="text-uppercase">Redes sociales</h5>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/AgeOfEmpiresChile/"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.twitch.tv/chileaoe"><i class="fab fa-twitch"></i></a></li>
                    </ul>
            </div>

            <div class="col-md-3 mt-3 mb-3">
                <h5 class="text-uppercase">Colaboradores</h5>
                <ul class="list-unstyled">
                <li>
                    <a href="https://www.voobly.com/profile/view/125158712">Vistima</a>
                </li>
                <li>
                    <a href="https://www.voobly.com/profile/view/7617">Comercial</a>
                </li>
                <li>
                    <a href="https://www.voobly.com/profile/view/144500">wAkKO</a>
                </li>
                <li>
                    <a href="https://www.voobly.com/profile/view/123237368">bboy</a>
                </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3 mt-4">
                <ul class="list-unstyled mt-3">
                <li>
                    <a href="https://www.voobly.com/profile/view/7725">Inkisidors</a>
                </li>
                <li>
                    <a href="https://www.voobly.com/profile/view/124645267">Dimecs</a>
                </li>
                <li>
                    <a href="https://www.voobly.com/profile/view/125206975">Valak</a>
                </li>
                <li>
                    <a href="https://www.voobly.com/profile/view/124542930">Batracio</a>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3 bg-success">© 2019 Copyright:
        <a href="https://www.google.cl"> Radiant-bastion.cl</a>
    </div>

</footer>