<footer class="footer-big text-white mt-5">
  <div class="text-center container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 mt-3 offset-xl-2 offset-lg-2 offset-md-1 offset-sm-0 offset-0">
        <h5 class="text-uppercase rrss">Redes sociales</h5>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/AgeOfEmpiresChile/"><i class="fab fa-facebook-square"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitch.tv/chileaoe"><i class="fab fa-twitch"></i></a></li>
          </ul>
      </div>
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 vl"></div>
      <div class="col-xl-7 col-lg-6 col-md-6 col-sm-8 col-7 text-left">
        <div class="row mt-3">
          <h5 class="text-uppercase">Colaboradores</h5>
        </div>

        <div class="row mt-2">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
            <ul class="list-unstyled">
              <li>
                <a href="https://www.voobly.com/profile/view/125158712">Vistima</a>
              </li>
              <li>
                <a href="https://www.voobly.com/profile/view/7617">Comercial</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
            <ul class="list-unstyled">
              <li>
                <a href="https://www.voobly.com/profile/view/144500">wAkKO</a>
              </li>
              <li>
                <a href="https://www.voobly.com/profile/view/123237368">bboy</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 up">
            <ul class="list-unstyled">
              <li>
                <a href="https://www.voobly.com/profile/view/7725">Inkisidors</a>
              </li>
              <li>
                <a href="https://www.voobly.com/profile/view/124645267">Dimecs</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 up">
            <ul class="list-unstyled">
              <li>
                <a href="https://www.voobly.com/profile/view/125206975">Valak</a>
              </li>
              <li>
                <a href="https://www.voobly.com/profile/view/124542930">Batracio</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 footer-small">© 2019 Copyright:
    <a href="https://www.google.cl"> Radiant-bastion.cl</a>
  </div>
</footer>
