/* formulario editar perfil */
.edit {
  background-color: #222222;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 3rem 2rem 3rem;
  margin: 3rem 0rem 2rem 16rem;
  border-style: solid;
  border-color: orange;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  }

.edit h2{
    padding: 0rem 0rem 1rem 0rem;
    font-weight: 600;
 }

 .btn-add2 {
   color: #cccccc;
   box-sizing: border-box;
   background-color: #000000;
   width: 100%;
   border-radius: 0.3rem;
   font-size: 1.5rem;
   padding: 0.6rem;
   margin: 0.6rem 0rem 0rem 0rem;
 }
 .btn-add2:hover {
   color: #000000;
   box-sizing: border-box;
   background-color: #333333;
   width: 40%;
   border-radius: 0.3rem;
   font-size: 1.5rem;
   padding: 0.6rem;
   margin: 2.6rem 0rem 0rem 0rem;
 }
.hr{
  border: 1px solid #444444;
  margin: 1.5rem 0rem 1rem 0rem;
}
