// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    background-image: url("https://i.imgur.com/0cG2Lxv.png");
    background-repeat: no-repeat;
    background-size: cover;
}