/* jumbotron image */
.heading-jumbo {
  background-image: url(jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.1px;
  max-width: 100%;
  height: 20rem;
}

/* jumbotron image */

/* dropdown  */

.btn-signin {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff !important;
  text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.30);
  background: radial-gradient(#ffb733, #e69500);
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.30), 0 1rem 1rem rgba(0,0,0,0.35);
  margin :-2.5rem 1rem 0rem 0rem;
  border-radius: 0.3rem;
  border: #f69714 solid;
  border-width: thin;
}

.dropdown-menu {
  background: orange;
  vertical-align: middle;
  margin: 0.2rem 0rem 0rem -3.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.30), 0 1rem 1rem rgba(0,0,0,0.35);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: left;
  border: orange solid;
  border-width: thin;
}

.dropdown-item {
  color: white;
}
/* dropdown */

/* heading text */


.heading-text-container p {
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 color: white;
 font-size: 1.2rem;
 width: 100%;
 text-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.30), 0 0.5rem 0.5rem rgba(0,0,0,0.35);
 text-align: right;
 position: absolute;
 margin: 2.5rem 0rem 0rem 7rem;
}

/* heading text */

@media (max-width: 1199.98px) {
  .heading-jumbo {
    background-image: url(jumbotron1199.png);
  }
}

@media (max-width: 991.98px) {
  .heading-jumbo {
    height: 18rem;
    background-image: url(jumbontron991.png);
  }
  .heading-text-container {
   display: none;
  }
  .btn-signin {
    font-weight: 400;
  }
}

@media (max-width: 575.98px){
  .heading-text-container {
   display: none;
  }

  .heading-jumbo {
    height: 15rem;
    background-image: url(jumbron575.png);
  }

  .btn-signin {
   font-size: 0.8rem;
   font-weight: 400;
   margin: -1rem 0rem 0rem -2rem;
  }

  .dropdown-menu {
    padding: 0rem 0rem 0rem -6rem;
    margin: 0.2rem -5rem 0rem -4rem;

  }
}
