/* formulario login */
.login {
  background-color: #222222;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  border-style: solid;
  border-color: orange;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  width: 30%;
  }

.login h2{
  padding: 0.5rem 0rem 1rem 0.5rem;
  font-weight: 600;
  text-align: center;
}

input[type=imput1] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.login input[type=password] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.btn-log {
  box-sizing: border-box;
  background-color: orange;
  width: 60%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0rem 0.8rem 5.5rem;
}

.btn-log:hover {
  background-color: #dd7d00;
}
.forgot{
  color: #bbbbbb !important;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.5rem 1rem 1rem 0.6rem;
  margin: 0rem 0rem 0rem 7.5rem;
}
.fb-log {
  margin: 2.5rem 0rem 0.8rem 0rem;
}

.hr-fb {
  margin: 1rem 0rem -1rem 0rem;
  border: 1px solid #444444;
}

.log-fb {
  color: #ddd;
  font-size: 1rem;
  background-color: #3b5998;
}

.log-fb:hover {
  color: #777;
  background-color: #2a3c7c;
}

/* formulario login */
@media (max-width: 575.98px){

  .login {
    width: 100%;
    }

  .btn-log {
    width: 100%;
    margin: 1rem 0rem 1em 0rem;
  }

  .forgot{
    margin: 0rem 0rem 0rem 2rem;
  }

}
@media (max-width: 991.98px){
  .login {
    width: 100%;
    }

  .btn-log {
    width: 100%;
    margin: 1rem 0rem 1em 0rem;
  }

  .forgot{
    margin: 0rem 0rem 0rem 2rem;
  }
}