/* navbar  */

.nav1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff !important;
  background-color: orange;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navfull{
  background: radial-gradient(#ffb733, #e69500);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin :-4rem 0rem 0rem 0rem;
}
.link1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff !important;
    font-size: 1.1rem;
    margin :0rem 1rem 0rem 1rem;
    text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.30);
}

/* navbar */

@media (max-width: 600px) {

  .custom-toggler.navbar-toggler {
      border-color: #fff;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .link1{
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      color: #ffffff !important;
      font-size: 0.7rem;
      margin :0rem 0rem 0rem 0rem;
      text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.30);
  }

}
