/* new news form*/
.news {
  background-color: #222222 !important;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  padding: 1.5rem 2rem 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-style: solid;
  border-color: orange;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  width: 50%;
  }

.news h2{
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-weight: 600;
  text-align: center;
}

input[type=imput2] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}

/* new news button*/
.btn-new-news{
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  color: #222222;
  font-weight: 400;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  float: right;
}

.btn-new-news:hover{
  background-color: #dd7d00;
}

/* new news button*/

/* index news card*/


.news-card {
  box-sizing: border-box;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  border: thin solid orange;
  width: 100%;
}

.card-news{
  background-color:#111;
  color: #bbb;
  box-sizing: border-box;
  padding: 1rem 3rem 2rem 3rem;
  text-align: center;
  border-radius: 0rem;
}

.title-h4 {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #ccc;
  padding: 0.3rem 1rem 0.5rem 1rem;
}
.hr-news-cards {
  margin: 0rem 0rem 0.5rem 0rem;
  border: 1px solid #444444;
}

.trix-content img{
  max-width: 80%;
  height: auto;
}
/* index news card*/



.btn-news {
  box-sizing: border-box;
  background-color: orange;
  width: 50%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 0rem;
}

.btn-news:hover {
  background-color: #dd7d00;
}

.linknew {
  color: #bbbbbb !important;
}

/* new news form*/


/* index news card*/

.news-card {
  box-sizing: border-box;
  margin: 0rem 0rem 0rem 0rem;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  border: thin solid orange;
}
.card-news{
  background-color:#111;
  color: #bbb;
  box-sizing: border-box;
  padding: 1rem 3rem 2rem 3rem;
  text-align: center;
  border-radius: 0rem;
}
.title-h4 {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #ccc;
  padding: 0.3rem 1rem 0.5rem 1rem;
}

.hr-news-cards {
  margin: 0rem 0rem 0.5rem 0rem;
  border: 1px solid #444444;
}
/* index news card*/

/* index news button*/

.btn-edit-news {
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem 0.4rem 0.8rem;
  text-align: center;
  color: #222222;
  font-weight: 400;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
}

.btn-edit-news:hover {
  background-color: #dd7d00;
}

.btn-destroy-news {
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem 0.4rem 0.8rem;
  text-align: center;
  color: #222222;
  font-weight: 400;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
}

.btn-destroy-news:hover {
  background-color: #ad0600;
}


.btn-group{
  margin-bottom: 4.5rem;
}

.news-row{
  height: 0px;
}
/* index news button*/

@media (max-width: 991.98px){
  .btn-new-news{
    width: 75%;
    margin: 0 10% 0rem auto;
  }
  .news-row{
    height: 80px;
  }

  .top-margin-news{
    margin-top: 0rem;
  }

  .news {
    width: 100%;
  }

  .btn-edit-news{
    font-size: 1.2rem;
  }

  .btn-destroy-news{
    font-size: 1.2rem;
  }

}

@media (max-width: 575.98px){
  .btn-edit-news{
    font-size: 1rem;
  }

  .btn-destroy-news{
    font-size: 1rem;
  }

  .news {
    margin: 0rem;
    width: 100%;
  }

  .top-margin-news {
    margin-top: 0rem;
  }

  .btn-new-news {
    width: 80%;
    margin: 0 10% 0 auto;
  }
}
