/* password recovery form*/
.password {
  background-color: #222222;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  border-style: solid;
  border-color: orange;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  width: 30%;
  }

.password h2{
  padding: 0.5rem 0rem 1rem 0rem;
  font-weight: 600;
  text-align: center;
}

input[type=imput1] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.login input[type=password] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.btn-password {
  box-sizing: border-box;
  background-color: orange;
  width: 60%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
}

.btn-password:hover {
  background-color: #dd7d00;
}
/* password recovery form*/

@media (max-width: 600px){
  .password {
    width: 100%;
  }

  .btn-password {
    width: 100%;
  }
}
