/* title forum*/
.titulo h1{
  font-weight: 600;
  font-size: 3.3rem;
  color: #dddddd;
  margin: 0rem 0rem 0.5rem 4.5rem;
}
/* title forum*/



/* new post forum*/

 forum-body .card-body{
  background-color: #222222;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  border-style: solid;
  border-color: orange;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  }

  .new-post-forum h2{
    padding: 0.5rem 0rem 1rem 0.5rem;
    font-weight: 600;
    text-align: center;
   }

/* new post forum*/

/* new post form*/
input[type=imput-simple] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0rem 0rem 0rem 0rem;
}

select{
    color: #ffffff;
    box-sizing: border-box;
    border: solid #000000;
    border-width: thin;
    background-color: #333333;
    width: 100%;
    padding: 1rem;
    margin: 0rem 0rem 0rem 0rem;
}

.btn-post{
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0rem .3rem -0.5rem 0rem;
  text-align: center;
}

.btn-post:hover{
  box-sizing: border-box;
  background-color: #dd7d00;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0rem .3rem -0.5rem 0rem;
  text-align: center;
}
/* new post form*/

/* post  style*/
.card-header {
  background-color: black;
  border-bottom: orange solid;
  border-width: thin;
}
.card-footer{
  background-color: #111111;
}

.forum-post{
  border: orange solid;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
}
/* post  style*/

/* Forum side menu style*/
.card-side{
  border: solid #000000 !important;
  border-width: thin !important;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
}
.translation_missing{
  color: white !important;
}
/* buttom  new post*/
.btn-block {
  box-sizing: border-box;
  background-color: #222;
  border-radius: 0.2rem;
  text-align: center;
  border: orange solid;
  border-width: thin;
}
.btn-block:hover {
  box-sizing: border-box;
  background-color: orange;
}
/* buttom  new post*/
.forum-thread-filters h5 {
 margin: 1rem 0rem 1rem 0rem;
 color: orange !important;
}
.hr-side-menu{
  border: 1px solid #444444;
  margin: 0.6rem 0rem 1rem 0rem;
}
.menu-items{
  margin: -0.5rem 0rem -0.5rem 0rem;
}
.menu-items p{
  color: #bbb;
}

.category{
  color: #bbb;
}
.menu-items2{
  margin: 0.8rem 0rem -0.5rem 0rem;
}
.menu-items3{/* forum side menu style*/
  margin: 1rem 0rem -0.5rem 0rem;
}
/* forum side menu style*/

/* forum threads style*/


.image-forum-posts2{
  margin: 1.2rem 0rem 1rem 0rem;
}
.title-forum-post{
  margin: 1rem 0rem 0.5rem 0rem;
}

.forum-title{
  color: #ddd;
  font-weight: 600;
}
.thread-details{
  margin: -0.2rem 0rem 0rem 0rem;
}
.thread-details-show{
  margin:  0rem 0rem 0.8rem 0rem;
}
.count-posts {
  margin: 1rem -2.5rem 0rem 0rem;
}
.count-color {
  color: #999;
}
.time-ago{
  color: #999;
  margin: 0rem 0rem 0rem 0.4rem;
}
.bullet {
  margin: 0rem 0rem 0rem 0.4rem;
}
.edit-pencil {
  margin: 0rem 0rem 0rem 2.7rem;
}
.pencil-edit-post {
  position: absolute;
  margin: 0rem 0rem 0rem 71rem;
  top: 10px
}

.avatar-post {

  margin: 0.2rem 0rem 2rem 0rem;
}
.user-post {
  margin: -4.7rem 0rem 1.5rem 5rem;
}
.forum-post-user {
  color: #ccc;
}
.colour-date {
  color: #888;
}
/* forum threads style*/
