// Place all the styles related to the Twitches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* new twitches form*/
.twitches {
  background-color: #222222;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  border-style: solid;
  border-color: orange;
  border-width: thin;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  box-sizing: border-box;
  width: 30%;
}

.twitches h2{
  padding: 0.5rem 0rem 0.5rem 7.5rem;
  font-weight: 600;
}

input[type=imput4] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.btn-twitches {
  box-sizing: border-box;
  background-color: orange;
  width: 70%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 4.3rem;
}

.btn-twitches:hover {
  box-sizing: border-box;
  background-color: #dd7d00;
  width: 70%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 4.3rem;
}

.twitches h2{
  text-align: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
  font-weight: 600;
}

input[type=imput4] {
  color: #ffffff;
  box-sizing: border-box;
  border: solid #000000;
  border-width: thin;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

.btn-twitches {
  box-sizing: border-box;
  background-color: orange;
  width: 60%;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 0rem;
}

.btn-twitches:hover {
  background-color: #dd7d00;
}

/* new twitches form*/

/* new twitches button*/
.btn-new-twitches{
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 2.7rem 5rem 0rem 0rem;
  text-align: center;
  color: #222222;
  font-weight: 400;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
}

.btn-new-twitches:hover{
  background-color: #dd7d00;
}
/* new twitches button*

/* index twitch video*/
.twitch-card-video {
  box-sizing: border-box;
  margin: 1.5rem 0.25rem 3rem 0.25rem;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  border-top: thin solid orange;
  border-bottom: thin solid orange;
}
.owner-name {
  position: absolute;
  border-radius: 3px;
  background-color: #3D4148;
  padding: 3px 6px;
  order: medium solid #111b;
  font-size: 1.2rem;
  color: #E7A70F;
  top: 0.5rem;
  left: 6.69rem;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
  font-weight: 600;
  background: repeating-linear-gradient(
  45deg,
  #222,
  #222 0.3rem,
  #000 0.3rem,
  #000 0.6rem
  );
}
/* index twitch video*/

/* index twitch button*/

.btn-edit-twitch {
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem 0.4rem 0.8rem;
  text-align: center;
  color: #222222;
  font-weight: 400;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
}

.btn-edit-twitch:hover {
  background-color: #dd7d00;
}

.btn-destroy-twitch {
  box-sizing: border-box;
  background-color: orange;
  border-radius: 0rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  font-size: 1.4rem;
  padding: 0.3rem 0.8rem 0.4rem 0.8rem;
  text-align: center;
  color: #222222;
  font-weight: 400;
  box-shadow: 0.05rem 0.2rem 0.3rem 0.05rem #000000;
}

.btn-destroy-twitch:hover {
  background-color: #ad0600;
}
iframe{
  max-width: 100%;
}

.button-row{
  margin-top: -4rem;
}
/* index twitch button*/
@media (max-width: 600px){

  /* new twitches form*/
  .twitches {
    width: 100%;
  }
  .btn-twitches {
    width: 100%;
  }

  /* new twitches form*/

  .px-lg-3{
    margin-left: 20px;
  }
  iframe{
    max-width: 100%;
  }
  .owner-name{
    left: 5rem
  }
  .btn-edit-twitch{
    font-size: 1.1rem;
    margin: -5.5rem 0rem 0rem 21.5rem;
  }
  .btn-destroy-twitch{
    font-size: 1.1rem;
    margin: -8.5rem 0rem 0rem 17rem;
  }
}
