<div class="row mt-2">
  <div class=" col-sm-10 offset-sm-2 col-md-10 offset-md-2 col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
    <% if can? :create, News %>
    <%= link_to 'Nuevo canal', new_twitch_path, class:"btn btn-new-twitches mb-3"%>
  <% end %>
  </div>
</div>
 <div class="row row-twitch">
  <% @twitches.each do |twitch| %>
    <div class="col-sm-12 col-md-12 col-lg-4  ">
      <iframe src="https://player.twitch.tv/?channel=<%= twitch.owner %>" frameborder="0" allowfullscreen="true" scrolling="no" height="297" width="528" class="twitch-card-video"></iframe>
      <div class="col-sm-5 offset-sm-7 col-md-4 offset-md-8 col-lg-10 offset-lg-2 col-xl-11 offset-xl-1">
        <div class="btn-group-twitch float-right">
          <% if can? :create, News %>
            <%= link_to 'Editar', edit_twitch_path(twitch) , class:"btn btn-edit-twitch"  %>
            <%= link_to 'Eliminar', twitch, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"btn btn-destroy-twitch"  %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
