<p id="notice"><%= notice %></p>
<div class="row mt-5">
  <div class="col-lg-10">
    <% @twitches.each do |twitch| %>
      <div class="col-lg-4 col-sm-12 ">
          <iframe src="https://player.twitch.tv/?channel=<%= twitch.owner %>" frameborder="0" allowfullscreen="true" scrolling="no" height="297" width="528" class="twitch-card-video"></iframe>
          <span class="owner-name"><%= twitch.owner %></span>
      </div>
    <% end %>

  </div>
  <div class="col-lg-2">
  <% if can? :create, News %>
    <%= link_to 'Nueva Noticia', new_news_path, class:"btn btn-new-news float-right mb-3"%>
  <% end %>
  </div>
</div>
